@charset "UTF-8";
/* 
---------------------------------
Site: "东煤社区"
Author: kxh
Updated: 20150508
Updated by: kxh
---------------------------------
*/
.btn_dark a{display:inline-block;*zoom:1;color:#fff;height:30px;line-height:30px;font-size:12px;font-family:"宋体";font-weight:bold;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;background: url(../images/add.png) 8px 5px no-repeat #ff6600;padding:0 13px 0 34px;;margin-top:10px;font-weight:bold;text-align:center;}
.btn_dark a:hover{text-decoration:none;background:url(../images/add.png) 8px 5px no-repeat #1d394b;color:#fff;}
/*物流头*/
.logisticsTitle{ width:770px; border:1px solid #dde4f2; background:#f2f6ff; color:#000; margin-top:20px;}
.logisticsTitle span{ display: inline-block;width:365px; font-size:14px;line-height:40px; padding-left:20px;}
.logisticsTitle i{ display: inline-block;font-style: normal; font-size:12px; width:80px; text-align:right;}
/*物流委托*/
a.logisticsEntrust{text-decoration:none;}
.logisticsEntrust{width:377px;border:1px solid #ced7ea;margin-right:14px;cursor:pointer; margin-top:15px;background:#f8f6f6;}
.logisticsEntrust:hover{ border:1px solid #2d7bd3;background:#f2f6ff;}
.entrustAdd{width:377px;border:1px solid #ced7ea; padding:182px 0 102px 0; text-align:center;cursor:pointer; margin-top:15px;background:url(../images/entrustAdd.png) center center no-repeat; font-size:14px; color:#ee7805; font-weight:bold;}
.entrustAdd:hover{ border:1px solid #2d7bd3;background:#f2f6ff;background:url(../images/entrustAdd.png) center center no-repeat;}
.mr0{ margin-right:0;}
.logisticsEntrust_tit{width:357px; height:35px; line-height:35px; border-bottom:1px solid #ced7ea; background:#2d7bd3; color:#fff; padding-left:20px;}
.titleSize{ font-size:16px;}
.viewTable{font-family:"宋体";font-size:14px;color:#365374;text-align:left;width:377px;}
.lineTr{height:30px;line-height:30px;}
.lineTr td{padding-left:5px;}
.lineTr strong{ color:#f60;}
.tableField{text-align:right;color:#8a8a8a; font-size:12px;}
.textGreen{ font-size:12px; font-weight:bold; color:#38ab19;}
.entrustedOperation{ position: relative; background:#F00; right:0; top:0; font-size:12px; font-weight:normal;}
a.payBth{ margin-left:10px; display: inline-block; padding:0 6px; line-height:24px; background:#8dbe53;font-style: normal; color:#fff;border-radius:5px; font-size:12px;}
a.payBth:hover{ color:#fff;text-decoration: underline;}


a.see,a.del,a.edit{ display:inline-block; width:17px; height:17px; margin:8px 5px 0 0;}
a.see{ background:url(../images/see_link.png) 0 0 no-repeat;}
a.see:hover{ background:url(../images/see_hover.png) 0 0 no-repeat;}
a.del{ background:url(../images/del_link.png) 0 0 no-repeat;}
a.del:hover{ background:url(../images/del_hover.png) 0 0 no-repeat;}
a.edit{ background:url(../images/edit_link.png) 0 0 no-repeat;}
a.edit:hover{ background:url(../images/edit_hover.png) 0 0 no-repeat;}

.mb20{margin-bottom:20px;}
